* {
    padding: 0;
    margin: 0;
}

/* header */

header {
    height: 80px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding-left: 20px;
}

nav li:hover {
    color: rgb(238, 72, 0);
    cursor: not-allowed;
}